Hide clientId?

<!--
  We can only offer support for Swagger-UI itself.

  If you're having a problem with a library that uses Swagger-UI
  (for example, Springfox or swagger-node), please open an issue
  in that project's repository instead.
 -->

### Q&A (please complete the following information)
 - Swagger-UI version: 3.20.5

### How can we help?
<!-- Your question or problem goes here! -->
I want to setup oauth2 within swagger ui and everythings work by following https://github.com/swagger-api/swagger-ui/blob/master/docs/usage/oauth2.md

My issue is that I don't understand why `clientId` is shown in clear text and is editable when I initialize it with:

```js
const ui = SwaggerUI({...})

ui.initOAuth({
    clientId: "your-client-id",
    realm: "your-realms",
    appName: "your-app-name",
    scopeSeparator: " ",
    additionalQueryStringParams: {test: "hello"}
  })
```
This behaviour doesn't occur in the normal swagger api doc implementation, but only in swagger ui. 

The source code indicate this behaviour: https://github.com/swagger-api/swagger-ui/blob/3f0c0666ba4a3e7e7403aeea07cba3574222cc3b/src/core/components/auth/oauth2.jsx#L178

My question would be:
- what is the reason for not hiding the `clientId` when it is initialized, but instead expose it and make it editable?
- is there a way to hide the `clientId` when it is initialized?


Hi @kievu,

We don't hide the `client_id` because the OAuth specification indicates that it is not a secret:

> The client identifier is not a secret; it is exposed to the resource owner and MUST NOT be used alone for client authentication.
> 
> [RFC 6749 §2.2](https://tools.ietf.org/html/rfc6749#section-2.2)

Honestly, if we change anything we'll probably start displaying the id instead of `*****` once auth happens, instead of changing the input to be hidden.

As a reminder, even if the id was hidden on the page itself, a user would be able to easily get it by using browser developer tools to inspect the OAuth token request. You should not treat anything you put into a user's browser as secret.

Ok, I got it. I ended up manipulating the DOM to remove it from the modal. Thanks for clarifying.