URL Fragment should be removed from path when building the request

<!---
  Thanks for filing a bug report! 😄

  Before you submit, please read the following:

  If you're here to report a security issue, please STOP writing an issue and
  contact us at security@swagger.io instead!

  Search open/closed issues before submitting!

  Issues on GitHub are only related to problems of Swagger-UI itself. We'll try
  to offer support here for your use case, but we can't offer help with projects
  that use Swagger-UI indirectly, like Springfox or swagger-node.

  Likewise, we can't accept bugs in the Swagger/OpenAPI specifications
  themselves, or anything that violates the specifications.
-->

### Q&A (please complete the following information)
 - OS: [e.g. macOS] Linux
 - Browser: [e.g. chrome, safari] chrome
 - Version: [e.g. 22] 79
 - Method of installation: [e.g. npm, dist assets] dist
 - Swagger-UI version: [e.g. 3.10.0] master
 - Swagger/OpenAPI version: [e.g. Swagger 2.0, OpenAPI 3.0] 3.0

### Content & configuration
<!--
  Provide us with a way to see what you're seeing,
  so that we can fix your issue.
-->

Example Swagger/OpenAPI definition:
```yaml
---
openapi: 3.0.2
info:
  title: Swagger Petstore - OpenAPI 3.0
  version: 1.0.5
servers:
- url: "/api/v3"
paths:
  "/pet/findByStatus#test":
    get:
      tags:
      - pet
      summary: Finds Pets by status
      description: Multiple status values can be provided with comma separated strings
      operationId: findPetsByStatus
      parameters:
      - name: status
        in: query
        description: Status values that need to be considered for filter
        required: false
        explode: true
        schema:
          type: string
          default: available
          enum:
          - available
          - pending
          - sold
      responses:
        '200':
          description: successful operation
          content:
            application/xml:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Pet"
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Pet"
        '400':
          description: Invalid status value
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: Dogs
      xml:
        name: category
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: tag
    Pet:
      required:
      - name
      - photoUrls
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        name:
          type: string
          example: doggie
        category:
          "$ref": "#/components/schemas/Category"
        photoUrls:
          type: array
          xml:
            wrapped: true
          items:
            type: string
            xml:
              name: photoUrl
        tags:
          type: array
          xml:
            wrapped: true
          items:
            "$ref": "#/components/schemas/Tag"
        status:
          type: string
          description: pet status in the store
          enum:
          - available
          - pending
          - sold
      xml:
        name: pet
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: "##default"
  requestBodies:
    Pet:
      description: Pet object that needs to be added to the store
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Pet"
        application/xml:
          schema:
            "$ref": "#/components/schemas/Pet"
```

### Describe the bug you're encountering
<!-- A clear and concise description of what the bug is. -->
If a path contains a fragment, the query params are appended after the fragment. Clients (browser, curl, ...) don't send what is after the fragment so the query params are not sent. When building the URL for the request, the fragment should be searched and removed.

### To reproduce...

Steps to reproduce the behavior:
1. Use the example YAML in swagger-ui
2. Click on /pet/findByStatus#test "Try it out" and execute
3. A request to /pet/findByStatus is made (without the status query param)

### Expected behavior
<!-- A clear and concise description of what you expected to happen. -->
A request to /pet/findByStatus?status=available is made.

### Additional context or thoughts
<!-- Add any other context about the problem here. -->
Using a fragment is a common workaround for the impossibility to have multiple operations on the same path+method.



Paths in OpenAPI definitions are not supposed to include fragments at all. See https://github.com/OAI/OpenAPI-Specification/issues/1635, specifically [this comment](https://github.com/OAI/OpenAPI-Specification/issues/1635#issuecomment-695755148) that references [RFC 8820 section 2.5](https://www.rfc-editor.org/rfc/rfc8820.html#name-uri-fragment-identifiers):

> other Specifications MUST NOT define structure within the fragment identifier, unless they are explicitly defining one for reuse by media types in their definitions (for example, as JSON Pointer [RFC6901] does).

I know. Yet a lot of people use this technique as a workaround. See https://github.com/OAI/OpenAPI-Specification/issues/182 for instance. It seems swagger-ui could support it at little cost.