Support OAuth 2.0 application flow with credentials in body

According to the [OAuth 2.0 specs](https://www.oauth.com/oauth2-servers/access-tokens/client-credentials/) for client credentials grant (`flow: application` in OpenAPI 2.0):

> Typically the service will allow either additional request parameters client_id and client_secret, or accept the client ID and secret in the HTTP Basic auth header.

The [relevant code](https://github.com/swagger-api/swagger-ui/blob/139592e353f47ef4f9c567a36624da386c661f17/src/core/plugins/auth/actions.js#L109-L120) in swagger-ui only supports the latter approach - embedding the client ID and client secret into the auth header.

### Describe the solution you'd like

Please, add support for selecting whether client ID and client secret is included (a) in the HTTP Basic auth header, or (b) in the request body.

The current implementation follows [RFC 6749 section 3.2.1](https://tools.ietf.org/html/rfc6749#section-2.3.1) which states:

> The authorization server **MUST support the HTTP Basic authentication** scheme for authenticating clients that were issued a client password.
> ...
> Including the client credentials in the **request-body** ... **is NOT RECOMMENDED** and SHOULD be limited to clients unable to directly utilize the HTTP Basic authentication scheme ...

Swagger UI is able to directly utilize HTTP Basic auth, so it does just that.