Examples object for header is not rendered in UI

### Q&A (please complete the following information)
 - OS: Windows 10
 - Browser: Firefox
 - Version: 68.6.0esr
 - Method of installation: https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js
 - Swagger-UI version: Most recent 3
 - Swagger/OpenAPI version: OpenAPI 3.0

### Content & configuration
<!--
  Provide us with a way to see what you're seeing,
  so that we can fix your issue.
-->

Example Swagger/OpenAPI definition:
```yaml
components:
  headers:
    contentDisposition:
      description: |
        The content disposition must be of type `attachment` and to contain the `filename` parameter
        as specified by RFC 6266, section 4.1. If a filename is not safe to be used with a target
        filesystem it shall be URI encoded, e.g., `rotor%2F1-data.txt`.
      required: true
      schema:
        type: string
      examples:
        generic:
          summary: a generic value
          value: "attachment; filename=acme.txt"
        moduleSchema:
          summary: a value representing a module schema
          value: "attachment; filename={moduleName}-{moduleSchemaType}.schema.json"
```

Swagger-UI configuration options:
```js
		const ui = SwaggerUIBundle({
			url: "./v1/openapi.yaml",
			dom_id: '#swagger-ui',
			deepLinking: true,
			presets: [
				SwaggerUIBundle.presets.apis,
			],
			plugins: [
				SwaggerUIBundle.plugins.DownloadUrl,
				DisableServersPlugin,
				DisableAuthorizePlugin
			],
			validatorUrl: null,
			showCommonExtensions: true
		})
```


### Describe the bug you're encountering
<!-- A clear and concise description of what the bug is. -->

### Expected behavior
All examples from the content disposition header exanded in the UI. If you do `example` only this works, but still has bad visualization.

### Screenshots
<!-- If applicable, add screenshots to help explain your problem. -->
![grafik](https://user-images.githubusercontent.com/573017/76622127-2bbf9480-6531-11ea-93e7-82760c8b42ef.png)


### Additional context or thoughts
<!-- Add any other context about the problem here. -->


Duplicate of #5432.