OAuth2 Password Flow modes do not match RFC

Currently, only one out of three implemented OAuth2 Password Flow modes match [RFC 6749 section 2.3.1](https://tools.ietf.org/html/rfc6749#section-2.3.1), which explicitly states:

>   The authorization server **MUST support the HTTP Basic authentication** scheme for authenticating clients that were issued a client password.
>
>   For example (with extra line breaks for display purposes only):
>
> ```
>       Authorization: Basic czZCaGRSa3F0Mzo3RmpmcDBaQnIxS3REUmJuZlZkbUl3
> ```
>
>   Alternatively, the authorization server **MAY support** including the client credentials in the **request-body** using the following parameters:
>
>   client_id
>
>   REQUIRED.  The client identifier issued to the client during the registration process described by Section 2.2.
>
>   client_secret
>
>   REQUIRED.  The client secret.  The client MAY omit the parameter if the client secret is an empty string.
>
>   Including the client credentials in the **request-body** using the two parameters is **NOT RECOMMENDED** and SHOULD be limited to clients unable to directly utilize the HTTP Basic authentication scheme (or other password-based HTTP authentication schemes). The parameters can only be transmitted in the request-body and **MUST NOT be included in the request URI**.

There are 3 modes implemented in OAuth2 Password flow:

1. "Request body" - Pass `username` with `password` in request-body and `client_id` with `client_secret` in "Authorization" header (`Basic`) - this is the CORRECT and RECOMMENDED way of doing this according to RFC.
2. "Basic auth" - Pass `username` with `password` in "Authorization" header (`Basic`) with no `client_id`/`client_secret` - this has NOTHING TO DO with OAuth2 as far as I can tell, this is just someone's simplified authentication method. If there is no other place to implement this, well let it be there, but this might be a bit confusing.
3. "Query parameters" - Pass `username` with `password` in request-body and `client_id` with `client_secret` in URI query encoded parameters - this is EXPLICITLY DISCOURAGED in the RFC since URLs are usually logged on the web servers and this would expose the plaintext secrets to anyone reading the logs.

The names in Swagger UI are completely misleading, by the way.

Here is my proposal:

1. Rename "Basic auth" to "Basic username & password auth" to be more explicit, and move to the end of the list, though the only reason to leave it there is that there is no other place for it :(
2. Rename "Request body" to "Basic auth" and leave it as default just as it is now.
3. Replace "Query parameters" with new "Request body" and implement it so it passes `client_id` and `client_secret` via request-body.

/cc @bodnia @Naid405 @benoj @webron 

Feel free to CC me to any OAuth2 related issues in Swagger UI in future. I might not help you with code, but I will at least try to help you with what RFC suggests to do.

This problem is based on the naming of  list. It should be "clientAuthenticationType".

I'm very very disappointed  because my implementation in #2397 is completely spoiled.


One additional note here- the Owner Credentials flow doesn't exclude public clients, in which case a client_id may be sent, but not have a corresponding client_secret. In that case, the method of attaching the client_id falls back to the last paragraph in section 3.2.1: 

```
A client MAY use the "client_id" request parameter to identify itself when sending requests to the token endpoint.
```

Hi, any update on this? I have played  a bit with springfox and now I see it is not possible to pass a jwt to swagger-ui. Is a release scheduled at some point? 

@kopax JWT's aren't part of the OAuth2 specification (RFC6749), except in the sense that the structure of the tokens is left to the implementation. Are you commenting on the correct issue?

@krotscheck I have a **springboot* backend secured with **spring-security** and **spring-security-oauth2**  and **springfox** installed.

I have a reactjs app as a client and I want to install **swagger-ui** on it.

I succesfully managed to display the **swagger-ui** but the OAuth2 configuration explained in the documentation does't trigger any request to authenticate. Do you know how I could do?. 



@kopax Ah, yes. In that case, you're definitely not commenting on the right issue. Github issues are more for bug reports and software design work, rather than integration help. For that, I would recommend the documentation and support resources- IRC, the website, etc.

Good luck!

@krotscheck I really do understand and I've already been on IRC and the website before.
I've read the documentation and as explained in my post. The documentation doesn't work.

Could you please consider giving two minutes answering my 2 questions ?

Guys what the status of this? The `password` flow is **unusable now**. 

It will very helpful for developers who use Spring Boot Security OAuth2.
It waits for:
1. Parameters: `client_id` and `client_secret` in header `Authorization`:
```
 Authorization: Basic YnJvd3Nlcjo=
```
2. Parameters: `grant_type`, `scope`, `username` and `password` in body of type:
```
content-type:"application/x-www-form-urlencoded"
```

Please fix this as proposed by the author of issue.

I updated UI from 2.2.10 to 3.12.2 and the Password flow stopped working.

It authorizes normally, I can see from inspector, but the subsequent API requests does not send the "Authorization: Bearer ..." at all.

Is this related to this issue? It seemed to work fine with 2.x series.

I have another error in this problem. Now I'm updating my securityDefinitions part in swagger like this:
![image](https://user-images.githubusercontent.com/29011275/57634393-cc72ba00-75d7-11e9-83e4-aaa28c1943ed.png)
I want to get the token from the url: https://login.microsoftonline.com/XXXXXXXXXXXXXX/oauth2/token by the post request with client_id and client_secret like this: ![image](https://user-images.githubusercontent.com/29011275/57634485-f926d180-75d7-11e9-86d6-24a9e7ccea80.png)
But finally it failed by swagger Authorize.
![image](https://user-images.githubusercontent.com/29011275/57634330-b107af00-75d7-11e9-96fc-676998d0f8f5.png)
I don't know why.
Could you guys give me some help. Thank you very much.


Any news on this issue?? It's really odd not not to be able to use the login as expected.