File not downloaded, and "can't parse JSON.  Raw result:" message appears in response body


| Q                               | A
| ------------------------------- | -------
| Bug or feature request?         |  Bug
| Which Swagger/OpenAPI version?  | 3.0.x
| Which Swagger-UI version?       | used by SwaggerHub, also occurs using github commit 1dfb6f8a
| How did you install Swagger-UI? | 
| Which browser & version?        | current Chrome & Firefox (63.0.3239.132 & 57.0.4, 64-bit respectively)
| Which operating system?         | Windows 10


### Demonstration API definition

```A working demonstration of the problem is found at SwaggerHub (public),
https://swaggerhub.com/apis/mikefidel/DEMO-CannotDownloadFile/1.0.0 
```

### Configuration (browser query string, constructor, config.yaml)

```
I am able to duplicate the problem using swagger-ui's dist folder, github commit 1dfb6f8a
```

### Expected Behavior
I expect that a file be downloaded, and that the message "can't parse JSON. Raw Results:" doesn't appear in the response body."

### Current Behavior
1. A file is not downloaded, and the "can't parse JSON. Raw Results:" message appears at the top of the response body.

2. A workaround is to use the swagger-ui generated Response URL and go to it in a separate browser tab or window, the file is downloaded and that odd message is not present.

### Possible Solution
The workaround is to copy the Response URL into a separate browser tab or window, and download the file that way.  I'd have to document that the download API doesn't work in the OpenAPI document file so that users of the API document will know about the workaround.  It is an ugly workaround, but it is indeed doable.

### Context
The OpenAPI document is in a trial stage, but is expected to be released soon to scientists and researchers all over the world.  Even after its release, this bug will affect very few users because the majority habitually use hardcopy documentation and existing web applications.  The question really ought to be: Can files be downloaded when using the Swagger-UI application? 


Hi @mikefidel!

>  Can files be downloaded when using the Swagger-UI application?

Yes! [Here](https://github.com/swagger-api/swagger-ui/blob/master/src/core/components/response-body.jsx#L23) is the logic that dictates how responses are rendered.

There's two things going on here:

First, your server is sending back `Content-Type: application/json` for this response (which is not valid JSON). As you can see in the file linked above, the first thing Swagger-UI does is check for an `application/json` content type, and if it's present, render the response as JSON... so you aren't making it down to the Download File UI logic because of this header.


Secondly, your server is not sending back an `Access-Control-Expose-Headers: Content-Disposition` in your OPTIONS preflight response, so your `Content-Disposition` value is not visible to Swagger-UI. By default, browser security rules dictate that only `` response headers are visible to scripts that are making a cross-origin request. [`Access-Control-Expose-Headers`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers) allows you to expose additional headers.

I tested these changes to your response headers in a web proxy, and can confirm that a download link does appear once these two concerns are addressed:

<img width="787" alt="messages image 629910962" src="https://user-images.githubusercontent.com/680248/34853716-edd0c974-f6fa-11e7-82e5-ff993c3a4c0c.png">

Let me know if this helps!

Thank you, Kyle.

I've read-up on this and tried to make this spec work since I woke up early this morning.  Definitely!... there is/was a gap in my understanding of headers.  I keep getting syntax errors when I try to add Access-Control_Expose-Headers: Content-Disposition to the response section.  I gave keyshockey AT gmail DOT com (obtained from Github here) an invite to this example SwaggerHub API definition.  Can you show me what you did to make this work?

I also now recognize your point about the header response being application/json.  But that is coming from the server I am making a CORS request to, right?  It isn't something I can control... right?

It's humbling to be a newbie again.  I thought I was doing well applying new learnings -- 61 out of 68 endpoints working fine.  Then I hit a wall dealing with file export and download.    ;-(



> It's humbling to be a newbie again

I know the feeling 😄 happy to help!

> I modified the sample file, and gave you (keyshockey AT gmail DOT com) read/write access. It doesn't change the results, and I understand the two problems have nothing to do with the document. Still, the newly revised file containing the response header definition is more appropriate. Is this so?

Yes, I'd agree that the new changes are appropriate. You could make the argument that documenting the `Access-Control-Expose-Headers` header is superfluous, but I think it makes sense because web applications can't use the API without it being present and properly set.

> The website whose API I am documenting is from an Open Source project. I have no control over their server, other than to point out to the project team that application/json is the wrong media-content description for a file to download.

Letting them know about the mistakes/shortcomings is probably the best way to resolve this. Your OpenAPI document can only ever describe their API - if their live server is sending back strange or incorrect responses, there isn't much you can do to mitigate that in the document.

> Swagger-UI is written a "bit tighter" in it's adherence to HTTP specs. So even if the response media content is "application/json", a non-JSON file is downloaded by Chrome and Firefox without problem. Is this so?

Upon further inspection, we might be the ones interpreting things incorrectly here. 

RFC 6266 Section 4.2 states `"If the disposition type matches "attachment", this indicates that the recipient should prompt the user to save the response locally, rather than process it normally (as per its media type)."`

Effectively, `Content-Disposition` is meant to indicate to the user agent "prompt your user to save this data instead of doing what you'd normally do to display it". Swagger-UI doesn't do this: as I mentioned earlier, our `Content-Type: application/json` response display logic comes before our `Content-Disposition` response display logic... so I'd be willing to call that a bug on our part. 

I imagine fixing that would solve the download dialog part of your problem. I'll open a ticket for this in a moment.

> I run Swagger-UI on my own AWS S3 (i.e. static page) server, and (using CORS) Swagger-UI passes through API requests to another AWS server that executes the REST method defined by the OpenAPI document. There is nothing I can do in my AWS server can do to resolve the problem I reported. Is this so?

Correct, since Swagger-UI is talking to the API server through a CORS request, your Swagger-UI application server doesn't have much say in what's going on.

A heavy solution (if you can't get cooperation from the folks who maintain the API you're documenting) would be to proxy requests to the API through your Swagger-UI application server, and attach the missing `Access-Control-Expose-Headers` header yourself. 

It's a messy solution, but it is a solution 😄

> Regardless, there isn't anything in the S3 server bucket config that will help resolve the problem. Is this right?

Correct. I see that you added `ExposeHeader`, which won't hurt anything, but as I mentioned above it's the API server that needs to send these CORS headers in order for the browser to allow this to work correctly.

>  I looked hard and did not find good, helpful documentation about downloading files using a OpenAPI document. 

Hmm, looks like there isn't much out there. The OpenAPI Specification [briefly mentions file upload and download](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#considerations-for-file-uploads) but doesn't provide much context. I think this would be a good addition to Swagger.io (cc @hkosova).

Thank you.

I've summarized the important points you made in a Stackoverflow item associated with Swagger-UI.  So if/when others find they have the same problem, they know what to self-diagnosis. 

You've been a lot of help.  Thank you again.

I think I am beating a dead horse, but when I began writing an email to the open source project team responsible for the target server, I realized their server responds with a Content-Disposition: attachment response header -- not just the bogus Content-Type: application/json.  A Content-Type: application/json response header follows the Content-Disposition.

See the screen shots I provided earlier:  First the Apache server conf file image, then the curl command image.  See that a Content-Disposition header is listed before the Content-Type response header?

So my thought is that the Chrome and Firefox browsers appear to ignore the Content-Type if a Content-Disposition precedes it. 

I'll still close this issue as I'm sure someone will look at the evidence with a more experienced eye.

Thank you everyone at Smartbear for your help!

@mikefidel, yes, you're correct - but beyond that, a Content-Disposition header should always override a Content-Type, regardless of order, based on the wording of the RFC I mentioned above. I'm hoping to make a fix on our end soon that corrects how we interpret and prioritize the two headers.

That being said, it would still be worthwhile for the maintainers to change or remove that erroneous Content-Type header, and add a Access-Control-Expose-Headers value that allows you to see the Content-Disposition they're sending.

Glad we could help. Don't hesitate to reply or open a new ticket if anything else comes up!

Is it fixed. I am also facing the same issue when I am trying to download a file from Azure cloud and assigning it to a variable of byte[] type.

It most certainly is working using version 3.13.2, as that is the release I am now using.  It has been working since March, I recall.

My response headers are slightly different than yours.  That's because a text file is downloaded.  Also, the download is not automatic -- when the response status is 200, you will see a link in the Response Bofy saying "Download File".  Click on that and the download will proceed.

My response headers are:
 content-disposition: attachment; filename="Luminal Breast Cancer.grp" 
 content-type: application/octet-stream



@mikefidel, thanks for jumping in 😄 

@sachinpachori, it looks like your server is just sending back `{` as a response, which is definitely not valid JSON.

Take a look in your browser's dev tools, and make sure that your server is sending back a request that looks sane.