Validation of uuid without dashes

### Q&A 
 - Swagger/OpenAPI version: Swagger 2.0

### Content & configuration
Swagger/OpenAPI definition:
```yaml
 "parameters": [
                    {
                        "name": "petId",
                        "in": "path",
                        "description": "ID of pet to return",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }]
```
The parameter petId is of type string and format uuid.
When a value of 78aea7e5-97c3-4e77-92ea-d40d6a3a4439 is entered in the swagger ui for parameter petId, the swagger ui works as expected. However, for 78aea7e597c34e7792ead40d6a3a4439, the guid without dashes, the client side validation produces the error: "Value must be a Guid".

### How can we help?
Is there an option to allow an uuid without dashes?

@bertzor no, we don't support that because it's not a valid UUID.

[RFC 4122 § 3](https://tools.ietf.org/html/rfc4122#section-3) defines the syntax for UUIDs (aka GUIDs):

```
UUID                   = time-low "-" time-mid "-"
                               time-high-and-version "-"
                               clock-seq-and-reserved
                               clock-seq-low "-" node
```

The hyphens are not optional in the standard. If you're using non-standard UUIDs that don't have hyphens, you should not be using `"format": "uuid"` 😄 

Joi.string().guid() validates uuids with hyphens or colons, and without them too.
Maybe it would be better to stand on the same point of view?

Moreover,  .NET the constructor of the Guid type will initialize a Guid variable from its string representation regardless of whether the hyphens are still there or removed.

@myalalov conversely, in the Node ecosystem [`uuid-validate`](https://www.npmjs.com/package/uuid-validate) does not validate UUIDs without hyphens, and `node-uuid` has decided against supporting hyphenless UUID generation (see https://github.com/kelektiv/node-uuid/issues/177).

For Joi's part, it looks like their implementation was introduced in https://github.com/hapijs/joi/pull/989 which "[validates] exactly like the previous GUID check where brackets and separators are optional". Their GUID check, in turn, was introduced earlier in https://github.com/hapijs/joi/pull/138, without any critical discussion of whether hyphen separators should be required or not.

---

**Swagger UI, being a tool that implements a standard, will always choose supporting other standards over de-facto behaviors.** 

I'd be happy to consider changing the uuid validation if there's a standards document we can cite for the change, and I'd even consider adding a distinct `format: "guid"` type for folks that are stuck in Microsoft-land and need this behavior, but I have no interest in watering down our validator just because other implementations have made non-standard decisions.

@shockey While I sympathize with your sentiment about adhering to the standards, there is an older precedent that helps folks like us flex a little easier. Postel's Law (thanks to Jon Postel, RFC1122, c. 1989) states, "be conservative in what you send, be liberal in what you accept." It would seem to apply in the case of UUID hex strings.

I totally agree with you that systems SHOULD format UUIDs according to the standards ("conservative in what they send"). At the same time, I am forced to interact with systems that do not, and this becomes a problem when I need to accept those nonstandard values as inputs, but I can't, because other systems are inflexible (not "liberal on what they accept").

Yes, the bad actors are big, like Microsoft and Jaeger. But their bigness makes them harder to avoid, and almost impossible to influence towards standards compliance. Esp. in the short time I have to deliver an integration.

But there are other big players who play nicer. Python's own standard library sets a great example. It _formats_ UUIDs according to the standard, regardless of whether they were _input_ with or without hyphens. I would like to see the Swagger UI behave with similar pragmatism. I think it's possible to point people to better behavior while also giving them a little grace.

How about it? 😎