5.0 RC3 / .Net Core 3.0.100 not passing in authorization header

 - OS: Windows 10
 - Browser: ALL
 - Version: Swagger .Net Core 5.0 RC3
 - Method of installation: NuGet
 - Swagger-UI version: [e.g. 3.10.0]
 - Swagger/OpenAPI version: OpenAPI 3.0

My method is defined as:

		[HttpGet]
		[Authorize]
		[Route("testMethod")]
		[Consumes("application/json")]
		[Produces("application/json")]
		public async Task<IActionResult> TestMethodAsync([FromQuery]SampleRequest request)
{
}

Swagger.json for this method gets generated as:

    "/sample/testMethod": {
      "get": {
        "tags": [
          "Sample"
        ],
        "summary": "Submits a request to the test method.",
        "parameters": [
          {
            "name": "APNSampleRequestValue",
            "in": "query",
            "description": "Sample request value.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Sample APN Request Value"
          },
          {
            "name": "SampleComplexRequest.SampleTestBValue",
            "in": "query",
            "description": "Sample test / test value.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 123
          },
          {
            "name": "SampleComplexRequest.SampleTestAValue",
            "in": "query",
            "description": "Sample test / test value2.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "example": [
              5,
              6,
              7
            ]
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "OAuth access token obtained from the token endpoint.",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }

UI shows "Authorization" text box, but when I click the execute, the value is not passed into the curl request:

curl -X GET "http://localhost:52580/sample/testMethod?APNSampleRequestValue=Sample%20APN%20Request%20Value&SampleComplexRequest.SampleTestBValue=123&SampleComplexRequest.SampleTestAValue=5&SampleComplexRequest.SampleTestAValue=6&SampleComplexRequest.SampleTestAValue=7" -H "accept: application/json"



The issue is with how your `swagger.json` is generated. The `Authorization` header is supposed to be defined as a [security scheme](https://swagger.io/docs/specification/authentication/) instead of a header parameter. In OpenAPI 3.0, explicit header parameters named `Authorization` [are ignored](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#user-content-parametername).

You need to configure your code/tooling so that it generates proper `securitySchemes` and `security` definitions. Assuming your API uses [OAuth 2.0](https://swagger.io/docs/specification/authentication/oauth2/), your `swagger.json` should look like this:

```
{
  "openapi": "3.0.0",

  ...

  "components": {
    "securitySchemes": {
      "oauth": {
        "type": "oauth2",
        "flows": {
          ...    // See https://swagger.io/docs/specification/authentication/oauth2/
        }
      }
    }
  },

  "paths": {
    "/sample/testMethod": {
      "get": {
        "security": [
          { "oauth": [] }
        ],

        ...
      }
    }
  }

}
```

Hope this helps!

@hkosova thanks, I'll take a look. Is the UI expected to show a text box for the header?

@hkosova In the paths section, is that a typo, or is that supposed to be "oauth" vs. "oauth2"?

@hkosova Ok... so now my swagger.json looks like this:

For testMethod:

    "/sample/testMethod": {
      "get": {
        "tags": [
          "Sample"
        ],
        "summary": "Submits a request to the test method.",
        "parameters": [
          {
            "name": "APNSampleRequestValue",
            "in": "query",
            "description": "Sample request value.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Sample APN Request Value"
          },
          {
            "name": "SampleComplexRequest.SampleTestBValue",
            "in": "query",
            "description": "Sample test / test value.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 123
          },
          {
            "name": "SampleComplexRequest.SampleTestAValue",
            "in": "query",
            "description": "Sample test / test value2.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "example": [
              5,
              6,
              7
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sample.SampleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "oauth": [ ]
          }
        ]
      }

for Components (schemas snipped):

  "components": {
    "schemas": {
      }
    },
    "securitySchemes": {
      "oauth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/token",
            "scopes": { }
          }
        }
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ]

So, now I get the Authorize button at the top, I get the lock icon on all methods, even though I'm only adding it to this method in the operation filter. Also, the Authorize dialog only sends:

grant_type=client_credentials to the token end point, it doesn't appear to be sending the client_id and the client_secret even though I enter them in the dialog.

> I get the lock icon on all methods, even though I'm only adding it to this method in the operation filter.

This is caused by the extra `security` node _at the root level_ of your `swagger.json`:
```
"security": [
  {
    "Bearer": [ ]
  }
]
```
If you remove it then only specific operations with `security` will have the lock icon.

<br/>

>  Also, the Authorize dialog only sends:
> grant_type=client_credentials to the token end point, it doesn't appear to be sending the client_id and the client_secret even though I enter them in the dialog.

In case of the `client_credentials` grant, Swagger UI sends the client ID and secret via the `Authorization` header (according to [RFC 6749 section 2.3.1](https://tools.ietf.org/html/rfc6749#section-2.3.1)):
```
POST /token
Content-Type: application/x-www-form-urlencoded
Authorization: Basic MTIzOjQ1Ng==    // <-- base64(client_id:client_secret)

grant_type=client_credentials
```

Thanks! Closing the issue.